html{
    padding:80px 0 50px 0;
}
html,body{
    height:100%;
}
body{
}
#logo{
    position:absolute;
    top: 15px;
    left: calc(50% - 65px);
    width: 130px;
    height: 156px;
    background:url("../images/logo.svg");/*asdhifasdoifasidufho*/
    background-size:cover;
}
.containz{
    background-color:  #e5edf2;
    width: 300px;
    margin: 0 auto;
    text-align:center;
    padding: 25px;
    padding-top: 160px;
    position: relative;
    border-radius: 5px;
}

.input-group-prepend{
    justify-content:center;
    max-width: 40px;
    max-height: 38;
}

form{
    width:100%;
}